h1 {
    text-align: center;
}

.bordaRecibo {
    
    border: 1px solid black;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#conteudoRecibo {
    padding: 10px 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}


.displayDiv {
    display: inline-block;
    
}

#numerosCpf {
    padding-left: 181px;
}

.print{
    display: none;
    border: 1px solid black;
    width: 50%;
    margin-right: 1px;
    margin-left: 1px;
}

@media print{
    .print {
        display:block;
}
    .dados{
        display: none;
    }
}
    

span {
    font-weight: 100;
    color:black;
    font-size: large;
}

#valorPago {
    border: 1px solid #333;
    padding: 4px 10px;
}
